* {
    padding: 0;
    margin: 0;
}

header{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    padding-bottom: -1%;
}

.heaader{
    display: flex;
    gap: 50px;
    font-size: 50px;
    font-family: "Impact", Verdana, fantasy;
    justify-content: space-between;
}

.delsidor{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1%;
}

.delsidor a {

    color: rgb(153, 16, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125%;
    text-decoration: none;

}

.vara {
    padding: 2%;
    color: rgb(153, 16, 218);
    text-decoration: none;
}

/*.regnblom {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgb(72, 154, 165);
}*/

.soortiment {
    display: flex;
    flex-wrap: wrap;
    color: rgb(153, 16, 238);
  }

/*.rosregn{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgb(72, 154, 165);
}*/
